<div id="audio-input-container">
    <div class="audio-drop-area" id="audio-drop-area" data-has-content="false">
        <label for="audio-picker" class="audio-input-label">
            <span class="material-icons">audiotrack</span>
            <span id="audio-input-placeholder">Choose or drag an audio file</span>
            <p id="audio-filename-display" class="hidden"></p>
            <input type="file" id="audio-picker" accept="audio/*" class="hidden" />
        </label>
        <div class="input-controls">
            <button id="clear-input-btn" class="icon-btn" disabled title="Clear Audio Input">
                <span class="material-icons">delete_sweep</span>
            </button>
        </div>
    </div>
</div>